.book{
  margin-top: 35px;
}

.tab-bar{
  background-color: #a504aa;
}

.tab-button{
  background-color: #aa03aa;
}

.about{
  margin: 10px;
  font-size: 20px;
  font-family:  "Lucida Handwriting", "Courier New", monospace;
  text-align: center;
  margin-bottom: 20px;
}
.tab-bar ion-icon {
  color: white; 
}

.tab-button {
  color: white !important;
}



