<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-grid>
   <ion-row>
     <ion-col size-sm="6" offset-sm="3">
      <div class="about">
        The Ebook is a highly practical and fascinating application where you can add, edit, and delete books. You can also save your favorite books. Who knows, your next favorite book might be waiting for you right here! Let's get started!<br>
       </div>
      <div class="book">
         <img src="assets/images/book.png" alt="book">
       </div>
      
     </ion-col>

   </ion-row>

 </ion-grid>

  <ion-tabs content="main-content">
    <ion-tab-bar class="tab-bar">

      <ion-tab-button  routerLink="/mybooks" class="tab-button">
        <ion-icon name="book"></ion-icon>
        My books
      </ion-tab-button>
      <ion-tab-button routerLink="/favorites" class="tab-button">
        <ion-icon name="heart"></ion-icon>
        Favorites
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

